In [46]:
import pandas as pd

# Load the student dataset
student_df = pd.read_csv('Student_dataset.csv')

# Load the Mendeley dataset
mendeley_df = pd.read_csv('Mendeley_dataset.csv')

# Select the relevant columns from the Mendeley dataset
mendeley_df = mendeley_df[['artist_name', 'track_name', 'release_date', 'genre', 'lyrics']]

# Combine or join the two datasets using concat function
merged_df = pd.concat([student_df, mendeley_df], ignore_index=True)

# Save the merged dataset to a new csv file
merged_df.to_csv('Merged_dataset_new.csv', index=False)

In [33]:
student_df.head()
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   103 non-null    object
 1   track_name    103 non-null    object
 2   release_date  103 non-null    int64
 3   genre         103 non-null    object
 4   lyrics        103 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.1+ KB

In [34]:
mendeley_df.head()
mendeley_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28372 entries, 0 to 28371
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   28372 non-null  object
 1   track_name    28372 non-null  object
 2   release_date  28372 non-null  int64
 3   genre         28372 non-null  object
 4   lyrics        28372 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [35]:
merged_df.head()
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28475 entries, 0 to 28474
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   28475 non-null  object
 1   track_name    28475 non-null  object
 2   release_date  28475 non-null  int64
 3   genre         28475 non-null  object
 4   lyrics        28475 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB