In [20]:
import pandas as pd

# Load the student dataset
student_df = pd.read_csv('Student_dataset copy.csv')

# Load the Mendeley dataset
mendeley_df = pd.read_csv('Mendeley_dataset.csv')

# Select the relevant columns from the Mendeley dataset
mendeley_df = mendeley_df[['artist_name', 'track_name', 'release_date', 'genre', 'lyrics']]

# Combine or join the two datasets using concat function
merged_df = pd.concat([mendeley_df, student_df], ignore_index=True)

# Save the merged dataset to a new csv file
merged_df.to_csv('Merged_dataset_new.csv', index=False)

In [33]:
student_df.head()
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   103 non-null    object
 1   track_name    103 non-null    object
 2   release_date  103 non-null    int64
 3   genre         103 non-null    object
 4   lyrics        103 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.1+ KB

In [34]:
mendeley_df.head()
mendeley_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28372 entries, 0 to 28371
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   28372 non-null  object
 1   track_name    28372 non-null  object
 2   release_date  28372 non-null  int64
 3   genre         28372 non-null  object
 4   lyrics        28372 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [35]:
merged_df.head()
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28475 entries, 0 to 28474
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   28475 non-null  object
 1   track_name    28475 non-null  object
 2   release_date  28475 non-null  int64
 3   genre         28475 non-null  object
 4   lyrics        28475 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [12]:
import pandas as pd

# Load the Mendeley dataset
data = pd.read_csv('Merged_dataset.csv')

In [13]:
missing_values = data['lyrics'].isnull().sum()
print("Number of missing or null values in 'lyrics' column: ", missing_values)

Number of missing or null values in 'lyrics' column:  0

In [14]:
# Drop rows with missing or null values in 'lyrics' column
data.dropna(subset=['lyrics'], inplace=True)

# Print number of rows remaining in the dataset
print("Number of rows after dropping missing or null values in 'lyrics' column: ", len(data))

Number of rows after dropping missing or null values in 'lyrics' column:  28471

In [15]:
missing_values = data['lyrics'].isnull().sum()
print("Number of missing or null values in 'lyrics' column: ", missing_values)

Number of missing or null values in 'lyrics' column:  0

In [16]:
import re

# Remove brackets and the text inside them from the lyrics column
data['lyrics'] = data['lyrics'].apply(lambda x: re.sub(r'\[[^\]]*\]', '', x))

# Strip leading and trailing whitespace from the lyrics column
data['lyrics'] = data['lyrics'].str.strip()

In [17]:
import re

# assuming your lyrics column is named 'lyrics'
lyrics = data['lyrics']

# replace multiple newlines and whitespaces with a single space character
lyrics = lyrics.apply(lambda x: re.sub(r'[\n\s]+', ' ', x))

# remove any leading or trailing whitespace
lyrics = lyrics.str.strip()

In [18]:
# Save the merged dataset to a new csv file
data.to_csv('Merged_dataset_new.csv', index=False)